@import "tailwindcss";

body{
    background: rgba(148, 188, 244, 0.626);
}

@theme {
  --animate-wiggle: wiggle 1s ease-in-out infinite;
  @keyframes wiggle {
    0%,
    100% {
      transform: rotate(-1deg);

    }
    50% {
      transform: rotate(1deg);
    }
  }
}